<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome Stranger!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
    <form action="/submit" method="POST">
        <label for="fname">Math Marks:</label><br>
        <input type="text" id="english" name="english" value=""><br>

        <label for="lname">Bangla Marks</label><br>
        <input type="text" id="bangla" name="bangla" value=""><br>

        <label for="lname">Math Marks:</label><br>
        <input type="text" id="math" name="math" value=""><br><br>

        <input type="submit" value="Submit">
    </form> 
  
    <p>Note! Clicking Goes to: </p>
    </body>
</html>