<!DOCTYPE html>

<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">

        <title>Welcome Stranger!</title>

    </head>
    <body>
        
        <form action="/submit" method="POST">
            <div class="mb-3">
              <label for="Mmarks" class="form-label">English Marks:</label><br>
              <input type="text" class="form-control" id="english" name="english" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="BMarks" class="form-label">Bangla Marks</label>
              <input type="text" class="form-control" id="bangla" name="bangla" >
            </div>
            <div class="mb-3">
                <label for="BMarks" class="form-label">Math Marks</label>
                <input type="text" class="form-control" id="math" name="math">
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>   
  
    <p>Note! Clicking Goes to: </p>
    <script src="../static/js/bootstrap.bundle.min.js"></script>

    </body>
</html>